/* Modal CSS */
.modal-background {
  width: 100vw;
  height: 100vh;
  background-color: #40071a;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.results-modal {
  width: min(80% - 2rem);
  height: 600px;
  overflow-y: scroll;
  margin-top: 10rem;
  margin-bottom: 10rem;
  border-radius: 8px;
  background-color: whitesmoke;
  border: 5px solid #40071a;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  z-index: 100;
}
.modal-title {
  display: inline-block;
  text-align: center;
  margin-top: 10px;
  border-bottom: 2px solid #40071a;
}
.modal-body {
  flex: 50%;
  height: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1rem;
  text-align: center;
  background-color: whitesmoke;
}
.wine-box {
  width: 80%;
}
.wine-description {
  font-size: 1rem;
  font-weight: 500;
}
.name-price {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 20px 10px 10px 10px;
  border-bottom: 2px solid #40071a;
}

.loading-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #40071a;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.flex-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPairing-button {
  width: 150px;
  height: 50px;
  border-radius: 4px;
  color: white;
  border: none;
  background-color: #40071a;
  margin-top: 1rem;
}

@media (width <= 600px) {
  .results-modal {
    height: 80%;
  }
  .modal-body {
    overflow-y: scroll;
    padding-top: 2rem;
  }
}
